<h1>here's the ID as a params</h1>
<h4>Welcome Controller</h4>
<p>def show
  	<br>@id = params[:id]
<br>end</p>
<p>replace the 'replaceme' text in the URL and press enter</p>
<p>Parameters: {"id"=>"<strong><%= @id %></strong>"}</p>
<h4>applications of the ID as a params</h4>